@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --text: #363636;
  --heading-text: #000;
  --anchor-text: #0076d1;
  --code-background: #efefef;
  --code-text: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  background-color: #000;
  color: #fff;
  /* color-scheme: dark; */
}

* {
  box-sizing: border-box;
}
